/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); */

.card p {
    margin-top: -10px;
    margin-bottom: 1px;
    /* background: #FFFFFF;
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
border-radius: 5px; */
}
.row .card:hover{
    transform: scale(1.025);
    transition: all 0.5s ease;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    /* transform: scale(1.02) */
}
* {
    font-family: "Merriweather", serif;
    list-style: none !important;
    text-decoration: none !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    background-color: #f9f8f4;
}
/* .navbar .navbar-collapse .input-group {
    width: 600px;
  } */
.btn-first {
    padding: 7px 24px !important;
    border-radius: 8px;
    background-color: yellowgreen;
    color: #fff;
}

  .btn-first:hover {
    background-color: yellowgreen;
}
.btn-second {
    padding: 6px 24px !important;
    border-radius: 8px;
    border: 1px solid #0d6efd;
    color: #0d6efd;
  }

  .btn-second:hover {
    background-color: #0d6efd ;
    color: #fff;
  }
.navbar .navbar-brand {
    color: #0d6efd;
    font-weight: 700;
}
.navbar .navbar-brand span {
    color: yellowgreen;
}
.nav-item i{
    font-size: 25px;
}
.menu-wrapper {
  margin-top: 100px;
}
.menu a {
    color: #1a1818;
    margin: 0 15px;
    font-weight: 300;
}
icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;

}
/* rating */
.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
  }
  .rating-css input {
    display: none;
  }
  .rating-css input + label {
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
  }
  .rating-css input:checked + label ~ label {
    color: #b4afaf;
  }
  .rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
  }

  body{
    margin-top:20px;
    background:#eee;
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}

/* End of Star Rating */
